.label {
    background-color:50px #CCC;
    margin:0px;
    border:2px solid #DDD;
    border-color:#EEE
}

.labell {
    margin:0px;
    border:0px solid;
}


.um {
padding:40px;
margin:10px;
}

.dois {
padding:40px;
margin:10px;
}
